<a href="https://colab.research.google.com/github/xuany823/ADS505_Final_Project/blob/main/Walmart_Sales_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

# Setup & Data loading

In [6]:
# Clone from our repo into Colab
!git clone https://github.com/xuany823/ADS505_Final_Project.git
%cd ADS505_Final_Project

# Now load CSVs with the path
import pandas as pd

data_path = "Datasets/"

train = pd.read_csv(f"{data_path}train.csv")
test = pd.read_csv(f"{data_path}test.csv")
stores = pd.read_csv(f"{data_path}stores.csv")
features = pd.read_csv(f"{data_path}features.csv")
sample_sub = pd.read_csv(f"{data_path}sampleSubmission.csv")

Cloning into 'ADS505_Final_Project'...
remote: Enumerating objects: 17, done.
remote: Counting objects: 100% (17/17), done.
remote: Compressing objects: 100% (16/16), done.
remote: Total 17 (delta 2), reused 14 (delta 1), pack-reused 0 (from 0)
Receiving objects: 100% (17/17), 3.67 MiB | 10.56 MiB/s, done.
Resolving deltas: 100% (2/2), done.
/content/ADS505_Final_Project/ADS505_Final_Project

In [7]:
# Quick check
print(train.shape, test.shape, stores.shape, features.shape, sample_sub.shape)

(421570, 5) (115064, 4) (45, 3) (8190, 12) (115064, 2)

## Data Merging & Preparation

In [8]:
import pandas as pd

# Step 1: Merge train/test with stores
train_full = train.merge(stores, on="Store", how="left")
test_full  = test.merge(stores, on="Store", how="left")

# Step 2: Merge with features (Store + Date are keys)
train_full = train_full.merge(features, on=["Store","Date"], how="left")
test_full  = test_full.merge(features, on=["Store","Date"], how="left")

# Step 3: Add "Set" flag column so we know which is train/test
train_full["Set"] = "train"
test_full["Set"]  = "test"

# Step 4: For test, create a placeholder column for Weekly_Sales
test_full["Weekly_Sales"] = None

# Step 5: Combine into one dataset
combined = pd.concat([train_full, test_full], ignore_index=True)

print("Combined shape:", combined.shape)
combined.head()

Combined shape: (536634, 18)

/tmp/ipython-input-1151854116.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined = pd.concat([train_full, test_full], ignore_index=True)

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y,Set
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,train
1,1,1,2010-02-12,46039.49,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True,train
2,1,1,2010-02-19,41595.55,False,A,151315,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False,train
3,1,1,2010-02-26,19403.54,False,A,151315,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False,train
4,1,1,2010-03-05,21827.90,False,A,151315,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False,train

## Basic Info

In [14]:
# Set dataframe
df = combined
print("Shape of the dataset:\n", df.shape)
print("Type of the dataset:\n", df.dtypes)

Shape of the dataset:
 (536634, 18)
Type of the dataset:
 Store             int64
Dept              int64
Date             object
Weekly_Sales    float64
IsHoliday_x        bool
Type             object
Size              int64
Temperature     float64
Fuel_Price      float64
MarkDown1       float64
MarkDown2       float64
MarkDown3       float64
MarkDown4       float64
MarkDown5       float64
CPI             float64
Unemployment    float64
IsHoliday_y        bool
Set              object
dtype: object

# EDA

# Feature Engineering

# Preprocessing

# Feature Selection

# Modeling

# Result & Evaluation